/* style.css */

.universal-holder {
    width: 1333px;
}

.navigation-holder {
    display: flex;
    justify-content: space-around;
    background-color: beige;
    border-style: double;
    border-radius: 2ch;
    padding-left: 12%;
    padding-right: 12%;
    background-image: url("images/Ocean.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    border-style: none;
    background-color: red;
    border-radius: 2cap;
    height: 25px;
    color: white;
    margin-top: 3%;
}

.list-holder ul {
    display: flex;
    list-style-type: none;
}

.list-holder ul li {
    width: 100px;
    background-color: purple;
    height: 25px;
    color: white;
    margin-top: 2%;
    border-style: ridge;
}

.sub-holder {
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
    height: 150px;
    border-style: ridge;
}

.letter-holder {
    text-align: center;
    margin-top: 1%;
    margin-left: 3%;
    height: 120px;
    width: 300px;
    text-align: left;
    color: white;
}

.upper-case {
    margin-bottom: -8%;
}

.picture-holder {
    height: 150px;
    width: 150px;
    border-radius: 10%;
    background-image: url("images/Eagle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mini-container {
    display: flex;
    margin-top: -0.4%;
    height: 300px;
    border-style: dotted;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    background-image: url("images/Space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.triangles {
    display: flex;
    height: 180px;
    width: 350px;
    margin-left: 10%;
}

.t-one {
    height: 80px;
    width: 80px;
    transform: rotate(45deg);
    margin-top: 10%;
    margin-left: 10%;
    background-color: red;
}

.t-two {
    height: 0px;
    width: 0px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 50px solid red;
    transform: rotate(265deg);
    margin-top: 30%;
}

.t-three {
    height: 0px;
    width: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid red;
    transform: rotate(60deg);
    margin-top: 4%;
}

.text-content {
    width: 550px;
    text-align: center;
    margin-left: -8%;
}

.big-word {
    color: red;
}

button:hover {
    background-color: aqua;
    color: grey;
}

li:hover {
    background-color: grey;
    color: white;
    border: 2px solid red;
}

div:hover {
    border: none;
}

.circles {
    display: flex;
    width: 250px;
    height: 150px;
    justify-content: space-around;
    padding-top: 2%;
}

.dropdown {
    float: left;
    overflow: visible;
}

.dropdown .dropbtn {
    font-size: 14pt;
    color: white;
    border: none;
    outline: none;
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    font-family: cursive;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: greenyellow;
    min-width: 160px;
    box-shadow: 0px 60px 80px 0px rgba(0,0,0,0.7);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
    color: aqua;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.half {
    height: 30px;
    width: 60px;
    background-color: red;
    border-radius: 50%;
    margin-top: 25%;
    position: relative;
}

.full {
    height: 30px;
    width: 60px;
    background-color: red;
    margin-top: 40%;
    transform: skew(20deg);
    position: relative;
}

.last-container {
    height: 500px;
    background-color: green;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    margin-top: -1.8%;
}

.top-bar {
    margin-left: 40%;
}

.intro-one {
    width: 200px;
    color: white;
    text-align: center;
    margin-top: 3%;
}

.intro-two {
    color: white;
    height: 30px;
    width: 200px;
    text-align: center;
    transform: rotate(19deg);
    margin-left: -4%;
    margin-top: -1.4%;
}

.intro-three {
    height: 30px;
    width: 23em;
    color: white;
    font-family: cursive;
    transform: rotate(53deg);
    margin-top: 13.8%;
    margin-left: -7.7%;
}

.picture-boxes {
    display: flex;
    height: 225px;
    margin-top: -2%;
    justify-content: space-around;
}

.box-one {
    height: 200px;
    width: 150px;
    align-content: center;
    background-color: purple;
}

.logo-one {
    height: 130px;
    width: 130px;
    border-right: 4px solid white;
    border-left: 4px solid white;
    border-style: double;
    background-image: url("images/Brown-horse.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 4%;
}

.text-one {
    color: black;
    height: 70px;
    width: 150px;
    font-weight: 900;
    text-align: center;
    background-image: url(images/loveit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.arrow {
    height: 100px;
    width: 195px;
    background-image: url(images/ARROW.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: exclusion;
    position: absolute;
    transform: rotate(13deg);
    margin-left: 16.5%;
    margin-top: 7%;
}

.box-two {
    height: 200px;
    width: 150px;
    align-content: center;
    background-color: purple;
}

.logo-two {
    height: 130px;
    width: 130px;
    border-right: 4px solid white;
    border-left: 4px solid white;
    border-style: double;
    margin-left: 4%;
    background-image: url("images/Pigeon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-two {
    color: black;
    height: 70px;
    width: 150px;
    font-weight: 900;
    text-align: center;
    background-image: url(images/loveit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-three {
    height: 200px;
    width: 150px;
    align-content: center;
    background-color: purple;
    }

.logo-three {
    height: 130px;
    width: 130px;
    border-right: 4px solid white;
    border-left: 4px solid white;
    border-style: double;
    margin-left: 4%;
    background-image: url("images/Rare-bird.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-three {
    color: black;
    height: 70px;
    width: 150px;
    font-weight: 900;
    text-align: center;
    background-image: url(images/loveit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-four {
    height: 200px;
    width: 150px;
    align-content: center;
    background-color: purple;
}

.logo-four {
    height: 130px;
    width: 130px;
    border-right: 4px solid white;
    border-left: 4px solid white;
    border-style: double;
    margin-left: 4%;
    background-image: url("images/Twin-bird.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-four {
    color: black;
    height: 70px;
    width: 150px;
    font-weight: 900;
    text-align: center;
    background-image: url(images/loveit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#signature {
    color: grey;
}

.soar {
    height: 15px;
    width: 15px;
    border-radius: 10cm;
    border: 2px solid grey;
    text-align: center;
}

img {
    height: auto;
    width: 30px;
}